/* Stars! Tech Atlas v5 */
.tech-icon { width: 64px; height: 64px; background-image: url('mobile-tech-atlas.png'); display: inline-block; }
.eng-settler { background-position: 0px -0px; }
.eng-mizer { background-position: 0px -64px; }
.eng-trans { background-position: 0px -128px; }
.eng-ram { background-position: 0px -192px; }
.scan-viewer { background-position: 0px -256px; }
.scan-rhino { background-position: 0px -320px; }
.scan-mole { background-position: 0px -384px; }
.scan-snooper { background-position: 0px -448px; }
.scan-eagle { background-position: 0px -512px; }
.def-shield-mole { background-position: 0px -576px; }
.def-shield-cow { background-position: 0px -640px; }
.def-shield-wolf { background-position: 0px -704px; }
.def-shield-phase { background-position: 0px -768px; }
.def-armor-tri { background-position: 0px -832px; }
.def-armor-crob { background-position: 0px -896px; }
.def-armor-neu { background-position: 0px -960px; }
.def-armor-val { background-position: 0px -1024px; }
.weap-laser { background-position: 0px -1088px; }
.weap-xray { background-position: 0px -1152px; }
.weap-minigun { background-position: 0px -1216px; }
.weap-yakimora { background-position: 0px -1280px; }
.weap-disrupt { background-position: 0px -1344px; }
.weap-blackjack { background-position: 0px -1408px; }
.weap-phasor { background-position: 0px -1472px; }
.weap-ph-bazooka { background-position: 0px -1536px; }
.weap-gatling { background-position: 0px -1600px; }
.weap-bludgeon { background-position: 0px -1664px; }
.weap-h-blaster { background-position: 0px -1728px; }
.weap-big-mutha { background-position: 0px -1792px; }
.weap-torp-alpha { background-position: 0px -1856px; }
.weap-torp-rho { background-position: 0px -1920px; }
.weap-torp-anti { background-position: 0px -1984px; }
.weap-bomb-smart { background-position: 0px -2048px; }
.weap-bomb-cherry { background-position: 0px -2112px; }
.hull-freight-s { background-position: 0px -2176px; }
.hull-freight-m { background-position: 0px -2240px; }
.hull-freight-l { background-position: 0px -2304px; }
.hull-scout { background-position: 0px -2368px; }
.hull-frigate { background-position: 0px -2432px; }
.hull-destroyer { background-position: 0px -2496px; }
.hull-cruiser { background-position: 0px -2560px; }
.hull-battle-cruiser { background-position: 0px -2624px; }
.hull-battleship { background-position: 0px -2688px; }
.hull-dreadnought { background-position: 0px -2752px; }
.hull-privateer { background-position: 0px -2816px; }
.hull-rogue { background-position: 0px -2880px; }
.hull-galleon { background-position: 0px -2944px; }
.hull-colony { background-position: 0px -3008px; }
.hull-sb-fort { background-position: 0px -3072px; }
.hull-sb-station { background-position: 0px -3136px; }

