/* Stars! Tech Atlas v8 */
.tech-icon { width: 64px; height: 64px; background-image: url('/assets/imagemaps/tech-atlas.png'); background-repeat: no-repeat; display: inline-block; image-rendering: pixelated; }
.eng-settler { background-position: 0px -0px; }
.eng-mizer { background-position: 0px -64px; }
.eng-long-hump { background-position: 0px -128px; }
.eng-trans { background-position: 0px -192px; }
.eng-ram { background-position: 0px -256px; }
.eng-interspace { background-position: 0px -320px; }
.gate-std { background-position: 0px -384px; }
.gate-jump { background-position: 0px -448px; }
.gate-any { background-position: 0px -512px; }
.driver-std { background-position: 0px -576px; }
.driver-super { background-position: 0px -640px; }
.driver-ultra { background-position: 0px -704px; }
.weap-laser { background-position: 0px -768px; }
.weap-xray { background-position: 0px -832px; }
.weap-minigun { background-position: 0px -896px; }
.weap-yakimora { background-position: 0px -960px; }
.weap-disrupt { background-position: 0px -1024px; }
.weap-phasor { background-position: 0px -1088px; }
.weap-gatling { background-position: 0px -1152px; }
.weap-big-mutha { background-position: 0px -1216px; }
.weap-bludgeon { background-position: 0px -1280px; }
.weap-torp-alpha { background-position: 0px -1344px; }
.weap-torp-beta { background-position: 0px -1408px; }
.weap-torp-delta { background-position: 0px -1472px; }
.weap-torp-epsilon { background-position: 0px -1536px; }
.weap-torp-rho { background-position: 0px -1600px; }
.weap-torp-upsilon { background-position: 0px -1664px; }
.weap-torp-omega { background-position: 0px -1728px; }
.weap-torp-anti { background-position: 0px -1792px; }
.weap-missile-jihad { background-position: 0px -1856px; }
.weap-missile-juggernaut { background-position: 0px -1920px; }
.weap-missile-doomsday { background-position: 0px -1984px; }
.weap-missile-armageddon { background-position: 0px -2048px; }
.weap-bomb-lady { background-position: 0px -2112px; }
.weap-bomb-black-cat { background-position: 0px -2176px; }
.weap-bomb-m70 { background-position: 0px -2240px; }
.weap-bomb-m80 { background-position: 0px -2304px; }
.weap-bomb-cherry { background-position: 0px -2368px; }
.weap-bomb-lbu17 { background-position: 0px -2432px; }
.weap-bomb-lbu32 { background-position: 0px -2496px; }
.weap-bomb-lbu74 { background-position: 0px -2560px; }
.weap-bomb-retro { background-position: 0px -2624px; }
.weap-bomb-smart { background-position: 0px -2688px; }
.weap-bomb-neutron { background-position: 0px -2752px; }
.weap-bomb-enriched-neutron { background-position: 0px -2816px; }
.weap-bomb-peerless { background-position: 0px -2880px; }
.weap-bomb-annihilator { background-position: 0px -2944px; }
.def-shield-mole { background-position: 0px -3008px; }
.def-shield-cow { background-position: 0px -3072px; }
.def-shield-wolf { background-position: 0px -3136px; }
.def-shield-croby { background-position: 0px -3200px; }
.def-shield-shadow { background-position: 0px -3264px; }
.def-shield-bear { background-position: 0px -3328px; }
.def-shield-gorilla { background-position: 0px -3392px; }
.def-shield-elephant { background-position: 0px -3456px; }
.def-shield-phase { background-position: 0px -3520px; }
.def-shield-langston { background-position: 0px -3584px; }
.def-armor-tri { background-position: 0px -3648px; }
.def-armor-crob { background-position: 0px -3712px; }
.def-armor-neu { background-position: 0px -3776px; }
.def-armor-val { background-position: 0px -3840px; }
.elec-comp-bat { background-position: 0px -3904px; }
.elec-comp-cyber { background-position: 0px -3968px; }
.elec-comp-nexus { background-position: 0px -4032px; }
.elec-jammer-10 { background-position: 0px -4096px; }
.elec-jammer-20 { background-position: 0px -4160px; }
.elec-jammer-50 { background-position: 0px -4224px; }
.elec-cloak-stealth { background-position: 0px -4288px; }
.elec-cloak-super { background-position: 0px -4352px; }
.elec-capacitor { background-position: 0px -4416px; }
.mech-fuel-tank { background-position: 0px -4480px; }
.mech-super-tank { background-position: 0px -4544px; }
.mech-colony-mod { background-position: 0px -4608px; }
.mech-maneuver-jet { background-position: 0px -4672px; }
.mech-overthruster { background-position: 0px -4736px; }
.mech-robo-miner { background-position: 0px -4800px; }
.mech-auto-miner { background-position: 0px -4864px; }
.scan-viewer { background-position: 0px -4928px; }
.scan-rhino { background-position: 0px -4992px; }
.scan-mole { background-position: 0px -5056px; }
.scan-possum { background-position: 0px -5120px; }
.scan-snooper { background-position: 0px -5184px; }
.scan-eagle { background-position: 0px -5248px; }
.scan-peerless { background-position: 0px -5312px; }
.icon-cargo-small { background-position: 0px -5376px; }
.icon-cargo-med { background-position: 0px -5440px; }
.icon-cargo-large { background-position: 0px -5504px; }
.orb-dock { background-position: 0px -5568px; }
.orb-sensor { background-position: 0px -5632px; }
.orb-shield { background-position: 0px -5696px; }
.hull-freight-s { background-position: 0px -5760px; }
.hull-freight-m { background-position: 0px -5824px; }
.hull-freight-l { background-position: 0px -5888px; }
.hull-freight-super { background-position: 0px -5952px; }
.hull-scout { background-position: 0px -6016px; }
.hull-frigate { background-position: 0px -6080px; }
.hull-destroyer { background-position: 0px -6144px; }
.hull-cruiser { background-position: 0px -6208px; }
.hull-battle-cruiser { background-position: 0px -6272px; }
.hull-battleship { background-position: 0px -6336px; }
.hull-dreadnought { background-position: 0px -6400px; }
.hull-privateer { background-position: 0px -6464px; }
.hull-rogue { background-position: 0px -6528px; }
.hull-galleon { background-position: 0px -6592px; }
.hull-nubian { background-position: 0px -6656px; }
.hull-meta-morph { background-position: 0px -6720px; }
.hull-mini-colony { background-position: 0px -6784px; }
.hull-colony { background-position: 0px -6848px; }
.hull-mini-bomber { background-position: 0px -6912px; }
.hull-b17 { background-position: 0px -6976px; }
.hull-stealth-bomber { background-position: 0px -7040px; }
.hull-b52 { background-position: 0px -7104px; }
.hull-midget-miner { background-position: 0px -7168px; }
.hull-mini-miner { background-position: 0px -7232px; }
.hull-miner { background-position: 0px -7296px; }
.hull-maxi-miner { background-position: 0px -7360px; }
.hull-ultra-miner { background-position: 0px -7424px; }
.hull-fuel-transport { background-position: 0px -7488px; }
.hull-super-fuel-export { background-position: 0px -7552px; }
.hull-mini-mine-layer { background-position: 0px -7616px; }
.hull-super-mine-layer { background-position: 0px -7680px; }
.hull-sb-fort { background-position: 0px -7744px; }
.hull-sb-space-dock { background-position: 0px -7808px; }
.hull-sb-space-station { background-position: 0px -7872px; }
.hull-sb-ultra-station { background-position: 0px -7936px; }
.hull-sb-death-star { background-position: 0px -8000px; }

