/* =========================================================
   Stars! Mobile Tech Atlas (v4)
   Generated for: mobile-tech-atlas.png (Vertical Strip)
   Tile Size: 64x64
   ========================================================= */

.tech-icon {
  width: 64px;
  height: 64px;
  background-image: url('assets/mobile-tech-atlas.png'); /* Ensure this path matches your Angular assets folder */
  background-repeat: no-repeat;
  display: inline-block;
  image-rendering: pixelated; /* Keeps the retro pixel art sharp */
}

/* --- ENGINES --- */
.eng-settler { background-position: 0px 0px; }
.eng-mizer   { background-position: 0px -64px; }
.eng-trans   { background-position: 0px -128px; }
.eng-ram     { background-position: 0px -192px; }

/* --- SCANNERS --- */
.scan-viewer  { background-position: 0px -256px; }
.scan-rhino   { background-position: 0px -320px; }
.scan-mole    { background-position: 0px -384px; }
.scan-snooper { background-position: 0px -448px; }
.scan-eagle   { background-position: 0px -512px; }

/* --- SHIELDS --- */
.def-shield-mole  { background-position: 0px -576px; }
.def-shield-cow   { background-position: 0px -640px; }
.def-shield-wolf  { background-position: 0px -704px; }
.def-shield-phase { background-position: 0px -768px; }

/* --- ARMOR --- */
.def-armor-tri  { background-position: 0px -832px; }
.def-armor-crob { background-position: 0px -896px; }
.def-armor-neu  { background-position: 0px -960px; }
.def-armor-val  { background-position: 0px -1024px; }

/* --- WEAPONS --- */
.weap-laser       { background-position: 0px -1088px; }
.weap-xray        { background-position: 0px -1152px; }
.weap-disrupt     { background-position: 0px -1216px; }
.weap-phasor      { background-position: 0px -1280px; }
.weap-torp-alpha  { background-position: 0px -1344px; }
.weap-torp-rho    { background-position: 0px -1408px; }
.weap-torp-anti   { background-position: 0px -1472px; }
.weap-bomb-smart  { background-position: 0px -1536px; }
.weap-bomb-cherry { background-position: 0px -1600px; }

/* --- HULLS (Freighters) --- */
.hull-freight-s { background-position: 0px -1664px; }
.hull-freight-m { background-position: 0px -1728px; }
.hull-freight-l { background-position: 0px -1792px; }

/* --- HULLS (Warships) --- */
.hull-scout          { background-position: 0px -1856px; }
.hull-frigate        { background-position: 0px -1920px; }
.hull-destroyer      { background-position: 0px -1984px; }
.hull-cruiser        { background-position: 0px -2048px; }
.hull-battle-cruiser { background-position: 0px -2112px; }
.hull-battleship     { background-position: 0px -2176px; }
.hull-dreadnought    { background-position: 0px -2240px; }

/* --- HULLS (Specialized) --- */
.hull-privateer { background-position: 0px -2304px; }
.hull-rogue     { background-position: 0px -2368px; }
.hull-galleon   { background-position: 0px -2432px; }
.hull-colony    { background-position: 0px -2496px; }

/* --- STARBASES --- */
.hull-sb-fort    { background-position: 0px -2560px; }
.hull-sb-station { background-position: 0px -2624px; }